# Conditional Excecution

### Task 1
Write a Python program to count the number of even and odd numbers from a series of numbers.   
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

**Expected Output :**
```
Number of even numbers : 4 
Number of odd numbers : 5 
```

In [1]:
numbers = (1,2,3,4,5,6,7,8,9)

even_count = 0 
odd_count = 0

for num in numbers:
   if num % 2 == 0: 
    even_count += 1
   else: 
    odd_count += 1

print("Number of even numbers :", even_count)
print("Number of odd numbers :", odd_count)

Number of even numbers : 4
Number of odd numbers : 5

### Task 2
Write a Python program that prints each item and its corresponding type from the following list.

Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

### Task 3
Write a Python program which iterates the integers from 1 to 50. For multiples of three print ‎‎"Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are ‎multiples of both three and five print "FizzBuzz". 
Sample Output : 
```
fizzbuzz 
1 
2 
fizz 
4 
buzz
```

### Task 4
Write a Python program that accepts a string and calculate the number of digits and letters.

Sample Data : Python 3.2 

Expected Output : 
```
Letters 6 
Digits 2
```

In [ ]:
text = "python 3.2"

Letters = 0 
Digits = 0

### Task 5‎
Write a Python program to check the validity of password input by users.   

Validation :
- At least 1 letter between [a-z] and 1 letter between [A-Z].
- At least 1 number between [0-9].
- At least 1 character from [$#@].
- Minimum length 6 characters.
- Maximum length 16 characters.

### Task 6
Create a program that counts the number of elements within a list that are greater than 30.

Here’s an example list you can use to test your work: 
```
num = [1,4,62,78,32,23,90,24,2,34].
```

### Task 7
Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration

```
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
```

### Task 8
Reverse the following list using for loop  
list1 = [10, 20, 30, 40, 50]  
Display a message “Done” after successful execution of for loop

For example, the following loop will execute without any error.  

```
for i in range(5):
    print(i)
```
So the Expected output should be:
```
‎0‎
‎1‎
‎2‎
‎3‎
‎4‎
Done!
```

### Task 9‎
Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

Given:  
number_of_terms = 5  #(if input 5)  

So series will become 2 + 22 + 222 + 2222 + 22222   #(5 times repeat 2 

**Expected output: 24690**

In [3]:
n = int(input("number of items: "))

total = 0
term = "2"

for i in range(n): 
    total += int(term)
    term += "2"

print("sum of this series is", total)

number of items:  5

sum of this series is 24690