# Python Numbers
In Python programming, you will be working with 3 different numeric data types, ‎namely, **“int”, “float”, and “complex”**. In the previous chapter, you learned the details of ‎what these data types entail, but below are some examples to refresh your memory.‎

| Data Type |	Description | Example |
|-----------|---------------|---------|
|**Int** |‎(Must be a whole number, positive or negative with no decimals, no ‎length restrictions)‎|	‎363 ‎|
|**Float**| ‎(Floating point number must be a positive or negative number with ‎one or more decimals; maybe scientific number an “e” to specify an ‎exponential power of 10)‎|	‎29e3 or 3.214‎|
|**Complex**|‎(Must be written with a “j” as an imaginary character)‎|	‎92j‎|

### Task 1:
‎Create variable “a” with data value as “3”, variable “b” with data value as “9e3” and ‎variable “c” with data value as “-39j”. ‎

In [18]:
a = 3 # int
b = 9e3 # float
c = -3+39j # complex

In [19]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [22]:
print("Real part:",type( c.real))
print("Imaginary part:",type( c.imag))

Real part: <class 'float'>
Imaginary part: <class 'float'>

#### Converting one numeric data type to another

As all Python variables are dynamic in nature, you will be able to convert the data type of ‎these variables if needed by deriving a new variable from the variable that you would like to ‎assign a new data type.‎

In [11]:
#conversion from int to float
x = float(a)

#conversion from float to complex
y = complex(b)

#conversion from complex to float - will throw an error
#z = float(c)

#conversion from int to complex
x1 = complex(a)

print(x)
print(y)
print(x1)
print(type(x))
print(type(y))
print(type(x1))

3.0
(9000+0j)
(3+0j)
<class 'float'>
<class 'complex'>
<class 'complex'>

#### Task 2: 
‎ View a random number between 14 and 24 by importing the random module.‎

In [1]:
import random

r = random.randint(14,24)

#### Variable Casting with Constructor Functions
In the discussion and exercise above, you learned that variables could be declared by ‎simply assigning desired data value to them, and thereby, the variables will assume the ‎pertinent data type based on the data value. However, Python allows you to specify the data ‎types for variables by using classes or “constructor functions” to define the data type for ‎variables. This process is called “Casting”.‎
Here are the 3 constructor functions used for “casting” numeric data type to a variable.‎

|Constructor Functions |	Data Type |
|----------------------|--------------|
| int ()	| Will construct an integer number from an integer ‎literal, a string literal (provided the string is ‎representing a whole number) or a float literal (by ‎rounding down to the preceding whole number)|
|float () |	Will construct a float number from a string literal ‎‎(provided the string is representing a float or an ‎integer), a float literal or an integer literal|
|complex () |	Will construct a string from a large number of data ‎types, such as integer literals, float literals, and strings|

In [2]:
# Here are some examples:
#Integer:
a = int(6)# a takes the value 6
b = int(4.6)# b takes the value 4
c = int('7')# c takes the value 7
#Float:
a = float(6)# a takes the value 6.0
b = float(4.6)# b takes the value 4.6
c = float('7')# c takes the value 7.0
#String:
a = str('serial')# a takes the value ‘serial’
b = str(4.6)# b takes the value ‘4.6’
c = str('7')# c takes the value ‘7’

__________________________________________________________________________________________

## Python Strings
In Python, string data type for a variable is denoted by using single, double, or triple ‎quotation marks. This implies that you can assign string data value to variable by quoting ‎the string of characters. For example, “welcome” is the same as ‘welcome’ and ‎‎‘‘‘welcome’’’.‎

#### Task 3:‎
Create a variable “v” with a string data value as “outfit is cyan” and display it.‎

In [18]:
v = "outfit is cyan"
v

'outfit is cyan'


#### Task 4:‎
Create a variable “A” with a multiple-line string data value as “Looking at the sky tonight, ‎thinking of you by my side! Let the world go on and on; it will be alright if I stay strong!” ‎and display it .‎

Note – You must use triple quote to create multiline string data values.‎

In [33]:
A = '''Looking at the sky tonight, 
thinking of you by my side!
Let the world go on and on;
it will be alright if I stay strong!'''
A

'Looking at the sky tonight, \nthinking of you by my side!\nLet the world go on and on;\nit will be alright if I stay strong!'

### String Arrays
In Python, string data values are arrays of bytes that represent Unicode characters as true for most programming languages. But unlike other programming languages, Python lacks ‎data type for individual characters, which are denoted as string data type with length of 1.‎  

The first character of every string is given the position of ‘0’, and subsequently, the ‎subsequent characters will have the position as 1, 2, 3, and so on.  
In order to display desired ‎characters from a string data value, you can use the position of the character enclosed in ‎square brackets. For example, if you wanted to display the fifth character of the string data ‎value “apple” of variable “x”. You will use the command `“print(x[4])”`‎

#### Task 5:‎
Create a variable “P” with a string data value as “brilliant” and display the fourth character ‎of this string.‎

In [20]:
P = 'brilliant'
P[3]

'l'

### Slicing
If you would like to view a range of characters, you can do so by specifying the **start and the end index** of the desired positions and separating the indexes by a colon.  
For example, to view characters of a string from position 1 to position 3, your code will be `“print (variable ‎‎[1:3])”.`  

You can even view the characters starting from the end of the string by using **“negative ‎indexes”** and start slicing the string from the end of the string.  
For example, to view ‎characters of a string from position 4 to position 1, your code will be `“print (variable [-4 : -‎‎2])”.`  

In order to view the length of the string, you can use the `“len ()” function`. For example, to ‎view the length of a string, your code will be `“print (len(variable))”.`

#### Task 6:‎
Create a variable “P” with a string data value as “strive for success!” and display characters ‎from position 3 to 6 of this string.‎

In [29]:
P = 'strive for success!'
P[2:6]

'rive'

#### Task 7:‎
Create a variable “x” with a string data value as “coding is cool” and display characters ‎from position 6 to 1, starting the count from the end of this string.‎

In [30]:
x = 'coding is cool'
x[:-8]
x[-14:-8]
x[-len(x):-8]

'coding'

#### Task 8:‎
Create a variable “z” with a string data value as “programming champ” and display the ‎length of this string.‎

In [47]:
z = 'programming champ'
len(z)

17

### String Methods
There are various built-in methods in Python that can be applied to string data values. ‎Here are the Python codes for some of the most frequently used string methods, using ‎variable **“P = ‘roses are red!’”** .

|Method | Explanation | Variable | Usage | Output |
|-------|-------------|-------|--------|----------|
| “strip ()” method | To remove any blank spaces at the start and the end of the string.| P = "      roses are red!  "| P.strip() | roses are red !|
|“lower ()” method | To result in all the characters of a string in lower case.| P = "ROSES are RED!" |P.lower()| roses are red !|
|“upper ()” method | To result in all the characters of a string in upper case.|P = “Roses are Red!”|P.upper () | ROSES ARE RED!|
|“replace ()” method | To replace select characters of a string.| P = “roses are red!”|P.replace(“roses”, “apples”)|apples are red!|
|“split ()” method | To split a string into substrings using comma as the separator. | P = “Roses, Apples”| P.split (“,“) | [‘Roses’, ‘Apples’]|

In [34]:
#“strip ()” 
P = "      roses are red!  "
print(P.strip())

#“lower ()” 
P = "ROSES are RED!"
print(P.lower())

#“upper ()” method 
P = "Roses are Red!"
print(P.upper())


#“replace ()” 
P = "roses are red!"
print(P.replace("roses", "apples"))

#“split ()” 
P = "Roses, Apples, Oranges"
print(P.split(','))

roses are red!
roses are red!
ROSES ARE RED!
apples are red!
['Roses', ' Apples', ' Oranges']

### String Concatenation
There might be instances when you need to collate different string variables. This can be accomplished with the use of the “+” logical operator. Here’s the syntax for this Python ‎code:‎

In [8]:
X = "string1"
Y = "string2"
Z = X + Y
print(Z)

string1string2


Similarly, below is the syntax to insert a blank space between two different string ‎variables.‎

In [51]:
X = "string1"
Y = "string2"
Z = X + ' ' + Y
print(Z)

string1 string2

However, Python does not permit the concatenation of string variables with numeric ‎variables. But can be accomplished with the use of the “format ()” method, which will ‎format the executed arguments and place them in the string where the placeholders “{ }” are ‎used. Here’s the syntax for this Python code:‎

In [6]:
X = 1 # numeric
Y = "String"
print ("String{}".format(X))
print(Y + str(X))
# or
print('{}{}'.format(Y,X))

String1
String1
String1

#### Task 9:
Create two variables “A” and “B” with string data values as “Let’s have” and “some pizza!” ‎and display them as a concatenated string.‎


#### Task 10:‎
Create two variables “A” with string data values as “her lucky number is” and “B” with ‎numeric data value as “18” and display them as a concatenated string.‎

In [7]:
A = "her lucky number is {}"
B = 18

print(A.format(B))

her lucky number is 18

### Python Booleans
In the process of developing a software program, there is often a need to confirm and ‎verify whether an expression is true or false. This is where Python Boolean data type and ‎data values are used. In Python, comparison and evaluation of two data values will result in ‎one of the two Boolean values: `“True” or “False”.`  
Here are some examples of comparison statement of numeric data leading to Boolean ‎value:‎

In [11]:
print (100 > 90)
#OUTPUT – True
print (100 == 90)
#OUTPUT – False
print (100 < 90)
#OUTPUT – False

True
False
False

Let’s look at the “bool ()” function now, which allows for the evaluation of numeric data ‎as well as string data resulting in “True” or “False” Boolean values.‎

In [14]:
print(bool(99))
#OUTPUT - True
print (bool("Welcome"))
#OUTPUT - True

True
True

Here are some key points to remember for Booleans:‎

1.	If a statement has some kind of content, it would be evaluated as “True”.‎
2.	All string data values will be resulting as “True” unless the string is empty.‎
3.	All numeric values will be resulting as “True” except “0”‎
4.	Lists, Tuples, Set, and Dictionaries will be resulting as “True” unless they are empty.‎
5.	Mostly empty values like (), [], {}, “”, False, None and 0 will be resulting as “False”.‎
6.	Any object created with the “_len_” function that result in the data value as “0” or ‎‎“False” will be evaluated as “False”.‎

In Python there are various built-in functions function that can be evaluated as Boolean, ‎for example, the “isinstance()” function, which allows you to determine the data type of an ‎object. Therefore, in order to check if an object is integer, the code will be as below:‎
X = 123‎
print (isinstance (X, int))‎

In [18]:
print(isinstance(9,str))
print(isinstance(9,int))

False
True

#### Task 11:‎
Create two variables “X” with string data values as “Just do it!” and “Y” with numeric data ‎value as “3.24” and evaluate them.‎

In [64]:
X = 'Just do it'
Y = 3.24

print(bool(X))
print(bool(Y))

True
True